<mat-stepper [linear]="linear" #stepper>
  <mat-step [stepControl]="vehicleDetailsForm" label="Vehicle Identification">
    <ng-template matStepLabel>
      <div class="step-label">
        <span>Basic vehicle information</span>
      </div>
    </ng-template>
    <form [formGroup]="vehicleDetailsForm">
      <div class="column-section">
        <section>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="first-input-cell">
                <mat-label>Owner</mat-label>
                <input matInput placeholder="Owner" formControlName="owner">
              </mat-form-field>
              @if (getErrorMessage('owner')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('owner') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Make</mat-label>
                <input matInput placeholder="Make" formControlName="make">
              </mat-form-field>
              @if (getErrorMessage('make')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('make') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Model</mat-label>
                <input matInput placeholder="Model" formControlName="model">
              </mat-form-field>
              @if (getErrorMessage('model')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('model') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Year of production</mat-label>
                <mat-select formControlName="year">
                  @for (year of years; track year) {
                    <mat-option [value]="year">{{ year }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              @if (getErrorMessage('year')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('year') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>License Plate</mat-label>
                <input matInput placeholder="CBY11111" formControlName="licensePlate">
              </mat-form-field>
              @if (getErrorMessage('licensePlate')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('licensePlate') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Body Type</mat-label>
                <mat-select formControlName="bodyType">
                  @for (bodyType of vehicleBodyType; track bodyType) {
                    <mat-option [value]="bodyType">{{ bodyType }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Fuel Type</mat-label>
                <mat-select formControlName="fuelType">
                  @for (fuelType of vehicleFuelType; track fuelType) {
                    <mat-option [value]="fuelType">{{ fuelType }}</mat-option>
                  }
                </mat-select>
              </mat-form-field>
              @if (getErrorMessage('fuelType')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('fuelType') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>VIN</mat-label>
                <input matInput placeholder="Combi" formControlName="vin">
              </mat-form-field>
              @if (getErrorMessage('vin')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('vin') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Current Mileage (km)</mat-label>
                <input matInput formControlName="currentMileage">
              </mat-form-field>
              @if (getErrorMessage('currentMileage')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('currentMileage') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Power (KM)</mat-label>
                <input matInput formControlName="power">
              </mat-form-field>
              @if (getErrorMessage('power')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('power') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Notes</mat-label>
                <input matInput formControlName="notes">
              </mat-form-field>
              @if (getErrorMessage('notes')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('notes') }}
                </mat-error>
              }
            </div>
          </div>
        </section>
        <section class="flex-end">
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </section>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="usageAndMaintenanceForm" label="Usage & Maintenance">
    <ng-template matStepLabel>
      <div class="step-label">
        <span>Driver assignment, insurance and service</span>
      </div>
    </ng-template>
    <form [formGroup]="usageAndMaintenanceForm">
      <div class="column-section">
        <section>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="first-input-cell">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" formControlName="location">
              </mat-form-field>
              @if (getErrorMessage('location')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('location') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Assigned Driver</mat-label>
                <input matInput placeholder="Driver" formControlName="assignedDriver">
              </mat-form-field>
              @if (getErrorMessage('assignedDriver')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('assignedDriver') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Insurance Provider</mat-label>
                <input matInput placeholder="Provider" formControlName="insuranceProvider">
              </mat-form-field>
              @if (getErrorMessage('insuranceProvider')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('insuranceProvider') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Insurance Policy Number</mat-label>
                <input matInput formControlName="insurancePolicyNumber">
              </mat-form-field>
              @if (getErrorMessage('insurancePolicyNumber')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('insurancePolicyNumber') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="custom-date-picker-width">
                <mat-label>Insurance Expiry Date</mat-label>
                <input matInput [matDatepicker]="insuranceExpiryDate" formControlName="insuranceExpiryDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="insuranceExpiryDate"></mat-datepicker-toggle>
                <mat-datepicker #insuranceExpiryDate></mat-datepicker>
              </mat-form-field>
              @if (getErrorMessage('insuranceExpiryDate')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('insuranceExpiryDate') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="custom-date-picker-width">
                <mat-label>Last Service Date</mat-label>
                <input matInput [matDatepicker]="lastServiceDate" formControlName="lastServiceDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="lastServiceDate"></mat-datepicker-toggle>
                <mat-datepicker #lastServiceDate></mat-datepicker>
              </mat-form-field>
              @if (getErrorMessage('lastServiceDate')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('lastServiceDate') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="custom-date-picker-width">
                <mat-label>Next Service Due</mat-label>
                <input matInput [matDatepicker]="nextServiceDue" formControlName="nextServiceDue">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="nextServiceDue"></mat-datepicker-toggle>
                <mat-datepicker #nextServiceDue></mat-datepicker>
              </mat-form-field>
              @if (getErrorMessage('nextServiceDue')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('nextServiceDue') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Service History</mat-label>
                <textarea matInput formControlName="serviceHistory"></textarea>
              </mat-form-field>
              @if (getErrorMessage('serviceHistory')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('serviceHistory') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Additional data</mat-label>
                <textarea matInput formControlName="additionalData"></textarea>
              </mat-form-field>
              @if (getErrorMessage('additionalData')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('additionalData') }}
                </mat-error>
              }
            </div>
          </div>
        </section>
        <section class="flex-end">
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </section>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="financialInfoForm" label="Purchase & Valuation">
    <ng-template matStepLabel>
      <div class="step-label">
        <span>Financial information and documents</span>
      </div>
    </ng-template>
    <form [formGroup]="financialInfoForm">
      <div class="column-section">
        <section>
          <div class="form-row custom-margin">
            <div class="form-element-col">
              <mat-form-field appearance="outline" class="custom-date-picker-width">
                <mat-label>Purchase Date</mat-label>
                <input matInput [matDatepicker]="purchaseDate" formControlName="purchaseDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="purchaseDate"></mat-datepicker-toggle>
                <mat-datepicker #purchaseDate></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Purchase Mileage (KM)</mat-label>
                <input matInput formControlName="purchaseMileage">
              </mat-form-field>
              @if (getErrorMessage('purchaseMileage')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('purchaseMileage') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Purchase Price (EUR)</mat-label>
                <input matInput formControlName="purchasePrice">
              </mat-form-field>
              @if (getErrorMessage('purchasePrice')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('purchasePrice') }}
                </mat-error>
              }
            </div>
            <div class="form-element-col">
              <mat-form-field appearance="outline">
                <mat-label>Current Value (EUR)</mat-label>
                <input matInput formControlName="currentValue">
              </mat-form-field>
              @if (getErrorMessage('currentValue')) {
                <mat-error class="mat-error-msg">
                  {{ getErrorMessage('currentValue') }}
                </mat-error>
              }
            </div>
          </div>
          <div class="form-row">
<!--            TO DO: https://github.com/julJan995/fleet-manager/issues/10 -->
<!--            <div class="form-element-col">-->
<!--              <mat-form-field appearance="outline">-->
<!--                <mat-label>Images</mat-label>-->
<!--                <input matInput formControlName="imgUrl">-->
<!--              </mat-form-field>-->
<!--            </div>-->
          </div>
        </section>
        <section class="flex-end">
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button class="warn-text" (click)="openResetConfirmDialog()">Reset</button>

            <ng-template #confirmDialog>
              <div class="dialog-title">
                <p>Are you sure you want to reset the form?</p>
              </div>
              <mat-dialog-actions align="end">
                <button mat-button mat-dialog-close>No</button>
                <button mat-button class="warn-text" [mat-dialog-close]="true">Yes</button>
              </mat-dialog-actions>
            </ng-template>
          </div>
        </section>
      </div>
    </form>
  </mat-step>
</mat-stepper>
