@use '../../assets/styles/variables' as *;

.mat-stepper-horizontal {
  margin-top: 8px;
}

.column-section {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.step-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  white-space: normal;
  line-height: 1.4;
}

.form-row {
  display: flex;
  gap: 20px;
  justify-content: center;

  .form-element-col {
    display: flex;
    flex-direction: column;
  }

  .mat-error-msg {
    margin-top: -20px;
    margin-bottom: 10px;
    font-style: italic;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.first-input-cell {
  width: 445px;
  margin-top: 15px;
}

.warn-text {
  color: $warn-text-color;

  &:hover {
    background-color: $warn-background-color;
  }
}

.dialog-title {
  margin: 20px;
}


