.dashboard_register {
  display: flex;
  width: 70%;
  margin: 20px auto;
  gap: 20px;

  .banner_card {
    width: 40%;
    padding: 60px;

    mat-card-title,
    mat-card-subtitle {
      font-family: 'Montserrat', sans-serif;
    }

    mat-card-title {
      font-size: 2rem;
    }

    mat-card-subtitle {
      font-size: 1.2rem;
      margin-top: 50px;
    }

    .loader {
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .car {
      &__body {
        animation: shake 0.2s ease-in-out infinite alternate;
      }

      &__line {
        transform-origin: center right;
        stroke-dasharray: 22;
        animation: line 0.8s ease-in-out infinite;
        animation-fill-mode: both;

        &--top {
          animation-delay: 0s;
        }

        &--middle {
          animation-delay: 0.2s;
        }

        &--bottom {
          animation-delay: 0.4s;
        }
      }
    }

    @keyframes shake {
      0% {
        transform: translateY(-1%);
      }
      100% {
        transform: translateY(3%);
      }
    }

    @keyframes line {
      0% {
        stroke-dashoffset: 22;
      }

      25% {
        stroke-dashoffset: 22;
      }

      50% {
        stroke-dashoffset: 0;
      }

      51% {
        stroke-dashoffset: 0;
      }

      80% {
        stroke-dashoffset: -22;
      }

      100% {
        stroke-dashoffset: -22;
      }
    }

  }

  .register-form_card {
    h1 {
      font-weight: lighter;
      font-size: 2rem;
    }

    width: 60%;
    padding: 40px;

    .form-element {
      width: 300px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-bottom: 8px;
    }
  }
}
