<mat-toolbar color="primary">
  <div class="header">
    <div class="header-left-side">
      <button mat-button>
        <mat-icon>home</mat-icon>
      </button>
      <span>Fleet Manager</span>
    </div>
    <div class="header-right-side">
      <button mat-button>
        <mat-icon>logout</mat-icon>
      </button>
        <div style="font-size: 14px;">User logged in</div>
      <button mat-button>
        <mat-icon>person_pin</mat-icon>
      </button>
      <span class="example-spacer"></span>
    </div>
  </div>
</mat-toolbar>
