.example-spacer {
  flex: 1 1 auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.header-right-side {
  display: flex;
  flex-direction: row;
}
