//shared styles for every single option tab: drivers, vehicles and semitrailers
.shared-styles {
  .example-large-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }
  .filter-tab {
    min-width: 1000px;
    margin: auto;
  }

  .example-container {
    margin: 0 auto;
    overflow: auto;
    border-radius: 10px;
  }

  table {
    min-width: 800px;
  }

  .add-element-btn {
    display: flex;
    justify-content: right;
    padding: 10px;
  }
  .edit-delete-btns {
    display: flex;
    flex-direction: row;
  }
}

//shared styles for mat-dialogs
.mat-dialogs-shared-styles {
  .row {
    display: flex;
    gap: 10px;
  }
  .form-content {
    padding-top: 10px;
    mat-form-field {
      width: 100%;
    }
  }
  .title {
    padding-top: 20px;
    padding-left: 25px;
  }
  .save-cancel-btns {
    padding-left: 300px;
    padding-bottom: 20px;
  }

}
