@import '../../assets/styles/mixins';

.dashboard {
  display: flex;
  gap: 20px;
  margin: 20px;

  &__status-section {
    width: 45%;
    min-height: 250px;
    @include dashboard-cell();
  }

  &__table-section {
    width: 55%;
    @include dashboard-cell();
  }
}
