@if (errorMessage) {
  <div>{{ errorMessage }}</div>
}

<div class="dashboard_login">
  <mat-card appearance="outlined" class="banner_card">
    <mat-card-title>Welcome back to Fleet Manager!</mat-card-title>
    <mat-card-subtitle>Log in to continue managing your fleet.</mat-card-subtitle>
    <app-car-banner></app-car-banner>
  </mat-card>

  <mat-card appearance="outlined" class="login-form_card">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-element">
        <mat-label>Email:</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput type="email" placeholder="Email" formControlName="email"/>
          @if (form.get('email')?.invalid && form.get('email')?.touched) {
            <mat-error>
              Please enter a valid email
            </mat-error>
          }
        </mat-form-field>
      </div>
      <div class="form-element">
        <mat-label>Password:</mat-label>
        <mat-form-field appearance="outline" class="full-width">
          <input matInput type="password" placeholder="Password" formControlName="password"/>
          @if (form.get('password')?.invalid && form.get('password')?.touched) {
            <mat-error>
              Password is required
            </mat-error>
          }
        </mat-form-field>
      </div>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        class="submit-btn"
      >
          Log In
      </button>
    </form>
  </mat-card>
</div>
