@if (authService.currentUserSig() === null) {
  <div class="login-register-buttons">
    <button
      mat-raised-button
      color="primary"
      routerLink="/login"
    >
      Login
    </button>

    <button
      mat-raised-button
      color="primary"
      routerLink="/register"
    >
      Register
    </button>
  </div>
}

@if (authService.currentUserSig()) {
  <div>{{ `Hello ${authService.currentUserSig()?.username}!` }}</div>
  <div>
    <span (click)="logout()">Logout</span>
  </div>
}

<router-outlet></router-outlet>
