<mat-tab-group class="option-tabs" #tabRef>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_pin</mat-icon>
      Drivers
    </ng-template>
    <app-drivers></app-drivers>
  </mat-tab>


  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">directions_bus</mat-icon>
      Vehicles
    </ng-template>
    <app-vehicles></app-vehicles>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_shipping</mat-icon>
      Semitrailers
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Content 3
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"></mat-icon>
      Vehicle Set
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Content 4
    </div>
  </mat-tab>
</mat-tab-group>
