<mat-tab-group class="option-tabs">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">person_pin</mat-icon>
      Drivers
    </ng-template>
    <div class="example-large-box">
      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="dataSource">
        <!-- [dataSource]="dataSource" dodac tam u gory-->
          <!-- Surname Column -->
          <ng-container matColumnDef="surname" sticky>
            <th mat-header-cell *matHeaderCellDef> Surname </th>
            <td mat-cell *matCellDef="let element"> {{element.surname}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <!-- Phone Column -->
          <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let element"> {{element.phoneNumber}} </td>
          </ng-container>
          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>
          <!-- Star Column -->
          <ng-container matColumnDef="star" stickyEnd>
            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
            <td mat-cell *matCellDef="let element">
              <div class="edit-delete-btns">
                <button mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <!--(click)="deleteVehicle(row.id)"-->
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
              <!--<mat-icon>more_vert</mat-icon>-->
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
    <div class="add-driver-btn">
    <button mat-raised-button (click)="openAddDriverForm()">ADD DRIVER</button>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">directions_bus</mat-icon>
      Vehicles
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Content 2
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">local_shipping</mat-icon>
      Semitrailers
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Content 3
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon"></mat-icon>
      Vehicle Set
    </ng-template>
    <div class="example-large-box mat-elevation-z4">
      Content 4
    </div>
  </mat-tab>
</mat-tab-group>
