<div class="app-add-edit-driver">
<div mat-dialog-title>
  <h1 class="title">Driver's Form</h1>
</div>

<form [formGroup]="driverForm" (ngSubmit)="onDriverFormSubmit()">
  <div mat-dialog-content
      class="form-content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Driver's name</mat-label>
          <input matInput type="text" placeholder="Name" formControlName="name"  pattern="[A-Za-z]+" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Driver's surname</mat-label>
          <input matInput type="text" placeholder="Surname" formControlName="surname"  pattern="[A-Za-z]+" required>
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Phone number</mat-label>
          <input matInput type="text" pattern="[0-9]+" placeholder="+48 " formControlName="phone" required>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>E-mail (not required)</mat-label>
          <input matInput type="text" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" placeholder="E-mail" formControlName="email">
        </mat-form-field>
      </div>
      <div mat-dialog-actions class="save-cancel-btns">
        <button mat-raised-button type="button" mat-dialog-close>CANCEL</button>
        <button mat-raised-button color="primary" type="submit">{{ data ? "UPDATE" : "SAVE" }} </button>
      </div>
  </div>
</form>
</div>
